default_language_version:
  python: python3.13
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.0
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
- repo: local
  hooks:
    - id: ty
      name: ty
      entry: uv run ty check
      language: system
      files: ^.*\.(py|pyi)$
      pass_filenames: false
      require_serial: true
