[tool.mypy]
[[tool.mypy.overrides]]
module = [
    "NamedAtomicLock"
]
ignore_missing_imports = true

[tool.isort]
profile = "black"
include_trailing_comma = true

[tool.poetry]
name = "blindern-deployer"
version = "0.1.0"
description = "Automated deployment of our services"
authors = ["Henrik Steen <henrist@henrist.net>"]

[tool.poetry.dependencies]
python = "^3.10"

ansible = "6.0"
Flask = "2.2.2"
Flask-Injector = "0.14.0"
gunicorn = "20.1.0"
injector = "0.20.1"
NamedAtomicLock = "1.1.3"
pydantic = "1.10.2"
python-dotenv = "0.21.0"

[tool.poetry.dev-dependencies]
autoflake = "1.7.7"
black = "22.10.0"
flake8 = "5.0.4"
isort = "5.10.1"
mypy = "0.982"
pre-commit = "2.20.0"
pytest = "7.2.0"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
