[tool.mypy]
[[tool.mypy.overrides]]
module = [
    "NamedAtomicLock"
]
ignore_missing_imports = true

[tool.isort]
profile = "black"
include_trailing_comma = true

[tool.poetry]
name = "blindern-deployer"
version = "0.1.0"
description = "Automated deployment of our services"
authors = ["Henrik Steen <henrist@henrist.net>"]
package-mode = false

[tool.poetry.dependencies]
python = "^3.12"

ansible = "9.13.0"
Flask = "3.1.0"
Flask-Injector = "0.15.0"
gunicorn = "21.2.0"
injector = "0.22.0"
NamedAtomicLock = "1.1.3"
pydantic = "2.11.1"
python-dotenv = "1.1.0"

[tool.poetry.dev-dependencies]
autoflake = "2.3.1"
black = "24.10.0"
flake8 = "7.1.2"
isort = "5.13.2"
mypy = "1.15.0"
pre-commit = "3.8.0"
pytest = "8.3.5"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
