name: ci
on: [push]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: sudo apt-get install -y --no-install-recommends git-crypt

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10.x'

      - name: Initialize Git
        run: |
          git config --global user.name "Deployer"
          git config --global user.email "it-gruppa@foreningenbs.no"

      # This has been added as a deploy key to https://github.com/blindern/deployer-test
      # It can easily be regenerated, just remember to add it to the repo.
      - name: Install SSH key
        env:
          GIT_SSH_KEY: ${{ secrets.GIT_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$GIT_SSH_KEY" >~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: venv-${{ runner.os }}-${{ hashFiles('poetry.lock') }}

      - run: pip install poetry

      - run: poetry install

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ env.pythonLocation }}-${{ hashFiles('.pre-commit-config.yaml') }}

      - run: poetry run pre-commit run --all-files

      - run: poetry run pytest

      - name: Build container
        uses: docker/build-push-action@v3
        with:
          context: .
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: blindern/deployer:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
